@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Arimo:700i');

/* variables */
$primaryColor: #263359;
$secondaryColor: lighten($primaryColor, 30);
$accentColor: lighten(adjust-hue($primaryColor, 230), 30);


$lato: 'Lato', sans-serif;
$roboto: 'Roboto Slab', serif;
$arimo: 'Arimo', sans-serif;

$max-width: 2680px;
$media-break: 769px;

/*maps*/
$breakpoints: (
  'xs': 575px,
  'sm': 576px,
 'med': 768px,
  'lg': 992px,
  );

/* mixins */
@mixin flex-it (
  $disp: flex,
  $align: null,
  $dir: null,
  $wrap: null,
  $just: null,
  $basis: null,
  $flex: null) {
    display: $disp ;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
    flex-basis: $basis;
    flex-grow: $flex;
    align-items: $align;
    // margin: 5px;
    text-align: center;
    @content;
}

@mixin center($w) {
  width: $w;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin media($size) {
  @if $size == 'lg' {
      @media (min-width: $media-break) {
          @content;
        }
    }
    @else {
        @error "'#{$size}' is not valid $size argument";
    }
  }


/*-----
  ----- Global styles ----
                      -----*/
* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: $lato;
    background-color: lighten($secondaryColor, 25);
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: $primaryColor;
  &:hover {
    color: $accentColor;
  }
}
h3 {
  text-transform: uppercase;
  margin-left: 5%;
}
.user-photo {
  padding: 1%;
  border-radius: 50%;
  width: 5rem;
  align-self: center;
  // height: 2em;
}
/*----
  ----- base grid ----
                  ----*/


.wrapper {
  @include center(96%);
  background: white;
  border: 3px solid lighten($primaryColor, 30%);
  border-radius: 10px;
    @media (min-width: $media-break) {
      display: grid;
      grid-template-columns: .25fr repeat(2, 1fr);
      // display: grid;
      // grid-template-columns: .25fr 1fr 1fr;
      // grid-template-areas: "two two two"
      //                       "one three three"
      //                       "one four four"
      //                       "one five six"
      //                       "one seven seven"
      //                       "one eight nine"
      //                       "one ten eleven"
      //
    }
}
.stats--traffic,
.stats--daily-traffic,
.stats--mobile-users {
  padding: 10%;
}
.stats--traffic{
  @media (min-width: $media-break) {
    grid-column: 2/4;
  }
}
.location--dashboard {
    @media (min-width: $media-break) {
    grid-column: 2/4;
  }
}
.stats--social-stats {
  @media(min-width: $media-break) {
    grid-column: 2/4;
  }
}
// .three {
//     @media (min-width: $media-break) {
//       grid-area: three;
//   }
// }
// .four {
//     @media (min-width: $media-break) {
//     grid-area: four;
//   }
// }
// .five {
//     @media (min-width: $media-break) {
//     grid-area: five;
//   }
// }
// .six {
//   @media (min-width: $media-break) {
//     grid-area: six;
//   }
// }
//
// .seven {
//   @media (min-width: $media-break) {
//     grid-area: seven;
//   }
// }
// .eight {
//   @media (min-width: $media-break) {
//     grid-area: eight;
//   }
// }
// .nine {
//   @media (min-width: $media-break) {
//     grid-area: nine;
//   }
// }
// .ten {
//   @media (min-width: $media-break) {
//     grid-area: ten;
//   }
// }
// .eleven {
//   @media (min-width: $media-break) {
//     grid-area: eleven;
//   }
// }


// .one {
//   display: grid;
//   // grid-template-columns: repeat(4, 1fr);
//   grid-template-rows: auto;
//     @media (min-width: $media-break) {
//       grid-area: one;
//       @include flex-it($dir: column, $align: center);
//       grid-template-columns: minmax(150px,1fr);
//     }
// }

/*---
  ---- icon menu navigation
                          -----
                            ---*/

.icons {
  margin: 0;
  width: 4.5rem;
  height: auto;
  padding: 20px;
    @media (min-width: $media-break) {
      display: flex;
      flex-direction: column;
    }
}

nav {
background-color: $primaryColor;
}

.navigation {
  background-color: $primaryColor;
  grid-column: 1/2;
  grid-row: 2/8;
}
.nav {
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
width: 100%;
justify-content: space-around;
  @media (min-width: $media-break) {
    // display: grid;
    // grid-area: one;
    @include flex-it($dir: column, $align: center);
    grid-template-columns: minmax(150px,1fr);
  }
}
/* Page content */
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/*---
  ----- header/location bar  -----
                              ---*/
main {
  color: #555;
}
a {
  text-align: center;
}
.logo {
  font-family: $arimo;
  font-size: 1.2em;
}
.header {
  @include flex-it($just: space-between, $align: center);
  padding: 10px;
  margin: 0;
  background-color: $secondaryColor;
  color: white;
  grid-column: 1/4;
  grid-row: 1/2;

}
.user-- {
    @include flex-it($dir: row, $just: space-between, $align:center);
    position: relative;
}

.bell {
width: 2.7rem;
transform-origin: 16px 16px;
}

@keyframes tiltPop {
  20% {
    transform: scale(1.1) rotate(45deg);
  }
  40% {
    transform: scale(.8) rotate(-32deg);
  }
  60% {
    transform: scale(1.1) rotate(45deg);
  }
  80% {
    transform: scale(.9) rotate(-12deg);
  }
}
.bell:hover {
    animation: tiltPop 1s ease-in backwards infinite
}
.iconAlert {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #85ba5e;
  padding: 5px;
  width: 25px;
  border-radius: 50%;
  font-size: .8rem;
}
// .two {
//   grid-area: two;
// }

.active {
  border: 2px solid $accentColor;
  border-radius: 10px;
  fill: $accentColor;
}
.show {
  display: block;
  position: relative;
  z-index: 199;
}
/*----
    ---- dashboard & search -----
                            ----*/

.searchAlert {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.hide {
  display: none;
}
input {
  width: 50%;
  height: 28px;
  text-indent: 5px;
  // float: right;
  align-self: baseline;
  padding: 5px;
  margin-right: 10px;
  background: url("../icons/magnifyGlass.svg") no-repeat;
  background-size: 1.3em;
  background-position: right;
}
.alert {
  background: $secondaryColor;
  font-size: .75em;
  color: white;
  width: 100%;
  padding: 5px 15px 5px 10px;

}
.alert button {
    background-color: transparent;
    border: none;
    color: white;
    float: right;
    cursor: pointer;
}
/*-----
   ----- Charts -----
                      ----*/
.btn-chart {
@include flex-it($just: flex-end)
}
.btn {
  margin-right: 1%;
  padding: 1% 3%;
  &:hover {
    color: white;
    // background-color: $accentColor;
    border-radius: 25px;
  }
}
li#hour:hover {
  background-color:rgba(183, 194, 224, .5);
}

li#day:hover {
  background-color: rgba(133, 186, 94, .4);
}
li#week:hover {
  background-color: rgba(183, 194, 224, .9);
}
li#month:hover {
  background-color: rgba(133, 186, 94, .8);
}



/*-----
   ----- Social Stats -----
                      ----*/
.stats--social-stats {
  @media (min-width: $media-break) {
    display: flex;
    margin: 2%;
  }
}

.twitter {
  fill: white;
}
.social-contain {
  margin: 5% auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border: 2px solid $primaryColor;
  width: 75%;
  border-radius: 10px;
  padding: 20px;
  background-color: lighten($secondaryColor, 43);
  @media (min-width: $media-break) {
    width: 30%;
    background-color: white;
  }
}
svg {
  width: 6rem;
  height: auto;
  margin-right: 5%;
}
.stat {
  font-size: 2.5rem;
}
h4 {
  font-size: 1.5rem;
  color: $secondaryColor;
}

/*-----
  ----- Member  & Activity -----
                        -----*/

.members,
.activity {
@include center(90%);
  display: flex;
  justify-content: space-between;
  margin: 3%;
  padding: 2%;
  border-bottom: .5px solid $primaryColor;
  // margin-top: 2%;
  // border: 1px solid $primaryColor;
  // border-radius: 10px;
}

.ago {
  font-size: .9rem;
  font-weight: 800;
  margin: 0;
}
.goToActivity {
  font-size: 3rem;
  padding-left: 1%;
  color: $primaryColor;
}


/*---
  ----- Message & Settings  -----
                              ---*/
.message-user {
  @include center(90%);
  border: 1px solid $primaryColor;
  border-radius: 10px;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.message {
  display: flex;
  flex-direction: column;
}
.message input,
.message textarea,
.message button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}
.message textarea {
  height: 8rem;
  // text-indent: 5px;

}

.message button,
.settings button {
  color: white;
  background-color: $secondaryColor;
  padding: 10px;
  border-radius: .5rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}
.settings {
  @include center(90%);
  margin-top: 2%;
  margin-bottom: 2%;
  border: 1px solid $primaryColor;
  border-radius: 10px;
  padding: 2%;
}

.settings button {
  width: 45%;
  margin-top: 5%;
}

#clearSettings {
  background-color: #ccc;
}

.settings form {
  @include flex-it($wrap: wrap, $dir: row, $just: space-between);
  margin: 10px;
}

.settings select,
.publicProf {
  margin-top: 5%;
}

.settings select {
  width: 100%;
  background: transparent;
  padding: 2%;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 36px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  text-align: left;
  padding-left: 15px;
  padding-top: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 8px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $secondaryColor;
}

input:focus + .slider {
  box-shadow: 0 0 1px $primaryColor;
}

input:checked + .slider:before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  color: white;
}

.slider.round:before {
  border-radius: 50%;
}
.toggleOne,
.toggleTwo {
  width: 85%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
}
