/*---
  ---- icon menu navigation
                          -----
                            ---*/

.icons {
  margin: 0;
  width: 4.5rem;
  height: auto;
  padding: 20px;
    @media (min-width: $media-break-desk) {
      display: flex;
      flex-direction: column;
    }
}

nav {
background-color: $secondaryColor;
grid-area: nav;
position: sticky;
top: 0;
z-index: 100;
  @media (min-width: $media-break-desk) {

    }
  }
  .active {
    border: 1px solid $accentColor;
    border-radius: 10px;
    fill: $accentColor;
  }

.navigation {
  background-color: $secondaryColor;
  grid-column: 1/2;
  grid-row: 2/8;
}
.nav {
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
width: 100%;
justify-content: space-around;
  @media (min-width: $media-break-desk) {
    @include flex-it($dir: column);
    grid-template-columns: minmax(150px,1fr);
    position: fixed;
top: 100px;
left: 15px;
  }
}
