.logo {
  font-family: $arimo;
  font-size: 1.2em;
}
.stat {
  font-size: 2.1rem;
}
.stack {
  text-align: left;
  padding-left: 3%;
  font-size: 1.1rem;
  line-height: 1.3em;
}
.squish + p {
  font-size: 2em;
}
.ago {
  font-size: .9rem;
  font-weight: 800;
  margin: 0;
}
.goToActivity {
  font-size: 3rem;
  padding-left: 1%;
  color: $primaryColor;
}
